* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body {
    background-color: var(--cinza-claro);
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 20px;
    position: relative;
    margin: 0 auto;
  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 45px;
    cursor: pointer;
    position:absolute;
  }

  .header-planos {
    position: relative;
    text-align: center;
    padding: 20px 40px;
  }
  
  .title {
    font-family:"Inter", sans-serif;
    font-size: 40px;
    color: #012C4A;
    font-weight: bold;
    margin: 0;
  }
  
  .add-button {
    position: absolute;
    right: 6rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1768AC;
    color: #f9f9f9;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }  
  
  .plan-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .plan-item {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
  }
  
  .plan-item input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #9B9B9B;
  }
  
  .plan-item input:focus {
    outline: none;
  }
  
  .actions {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .edit-btn img,
  .delete-btn img {
    width: 20px;
    height: 20px;
  }
  