.texto-modal>h2 {
    font-weight: bold;
    font-size: 2.5rem;
    color: black;
}

.texto-modal>p {
    font-size: 1.5rem;
    color: var(--cinza-mediano);
}

.btn-modal {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 18.75rem;
    height: 5rem;
    font-size: 2rem;
    transition: 0.5s;
}

.btn-vermelho {
    background-color: var(--vermelho);
    color: var(--branco);
}

.btn-vermelho:hover {
    background-color: var(--vermelho-hover);
}

/* Btn Cinza */
.btn-cinza {
    background-color: var(--cinza-claro);
    color: black;
}

.btn-cinza:hover {
    background-color: var(--cinza);
}

/* ------------------------------------------------------------ */

.modal {
    border-top: 1.5rem solid var(--vermelho);
    background-color: var(--branco);
    width: 52rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.texto-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.button-modal {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

dialog {
    border: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}