* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    height: 100vh;
    display: flex;
}

/* ---------------------------------------------------------------- */
/* Imagem */
.mainContainer img {
    height: 100vh;
    width: 50%;
    object-fit: cover;
}

/* ---------------------------------------------------------------- */
/* Parte login no centro */
.container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.inputContainer, .btnContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ---------------------------------------------------------------- */

/* H2 [texto] */
h2 {
    font-weight: bold;
    font-size: 45px;
    /* margin-bottom: 10px; */
}

/* P [texto] */
p {
    font-size: 16px;
    color: var(--cinza-mediano);
}

/* Input */
input {
    outline: none;
    background-color: #FEFEFE;
    border: 1px solid #D3D3D3;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    color: var(--cinza-escuro);
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    width: 400px;
    height: 60px;
    text-decoration: none;
}

::placeholder {
    color: var(--cinza-mediano);
    font-weight: lighter;
}

.input-register2 {
    width: 610px;
}

.input-login {
    width: 340px;
}

/* Ãcones [Login] */
.inputContainer div {
    display: flex;
    width: 100%;
}

.icon {
    background: var(--azul-1);
    border-radius: 5px 0 0 5px;
    color: var(--branco);
    text-align: center;
    padding: 20px;
    width: 60px;
    height: 60px;
    font-size: 20px;
}

/* [Texto depois dos inputs] */
.inputContainer a {
    font-weight: bold;
    font-size: 16px;
    color: var(--azul-2);
    text-decoration: none;
}

.inputContainer a:hover {
    text-decoration: underline;
}

.btn {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 400px;
    height: 60px;
    font-size: 20px;
}

.btn-azul-1 {
    background-color: var(--azul-1);
    color: var(--branco);
}

.btn-azul-1:hover {
    background-color: var(--azul-1-hover);
    transition: 0.5s;
}

.btn-azul-2 {
    background-color: var(--azul-2);
    color: var(--branco);
}

.btn-azul-2:hover {
    background-color: var(--azul-2-hover);
    transition: 0.5s;
}

/* ------------------------------------------------------------------ */

@media (max-width: 870px) {
    .mainContainer > img {
        display: none;
    }

    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}